body {
    background-color: rgb(255, 233, 237);

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
}

ul li a:hover {
  background-color: #111111;
}
ul li a.active {
  background-color:#111111 ;
}


}

p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}

p.capitalize {
  text-transform: capitalize;

}

.inleiding-blok {
  background-color: #ffffff; /* witte achtergrond */
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 900px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  text-align: left; /* gewone tekst blijft links */
}

.inleiding-blok h1 {
  text-align: center; /* titel in het midden */
  color: #000000;
  margin-top: 10px;
}

.inleiding-blok h2 {
  color: #000000;
  margin-top: 20px;
}

.inleiding-blok p {
  font-size: 16px;
  line-height: 1.6;
}

.blok-afbeelding1 {
  display: block;
  margin: 0 auto;
  max-width: 700px;   /* Maakt het plaatje 700px breed */
  width: 100%;        /* zorgt ervoor dat het ook goed te zien is op de telefoon */
  height: auto;
  border-radius: 8px;
}

.blok-afbeelding2 {
  display: block;
  margin: 0 auto;
  max-width: 500px;   /* Maakt het plaatje 500px breed */
  width: 100%;        /* zorgt ervoor dat het ook goed te zien is op de telefoon */
  height: auto;
  border-radius: 8px;
}



.site-footer {
  background-color: #333333;     /* donker grijze achtergrond */
  color: white;                  /* witte tekst */
  text-align: center;            /* in het midden */
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}